<dashboard>
  <label>Cloud Foundry - Ops Dashboard</label>
  <description>Splunk CloudFoundry Add-on</description>
  <row>
    <panel ref="cell_capacity_available_memory" app="Splunk_SA_CloudFoundry"></panel>
    <panel ref="cell_capacity_available_disk" app="Splunk_SA_CloudFoundry"></panel>
    <panel ref="router_routes_count" app="Splunk_SA_CloudFoundry"></panel>
    <panel ref="diego_brain_lrps_started" app="Splunk_SA_CloudFoundry"></panel>
    <panel ref="diego_brain_lrps_failed" app="Splunk_SA_CloudFoundry"></panel>
  </row>
  <row>
    <panel>
      <title>MySQL Cluster Health</title>
      <single>
        <title>MySQL Cluster Status</title>
        <search>
          <query>sourcetype=cf:valuemetric job=mysql  name="/p-mysql/galera/wsrep_cluster_status"|timechart span=15m avg(value)</query>
          <earliest>-15m</earliest>
          <latest>now</latest>
          <sampleRatio>1</sampleRatio>
          <refresh>10m</refresh>
          <refreshType>delay</refreshType>
        </search>
        <option name="height">91</option>
      </single>
    </panel>
    <panel>
      <title>MySQL Cluster Size</title>
      <single>
        <title>Number of VMs</title>
        <search>
          <query>sourcetype="cf:valuemetric" name="/p-mysql/galera/wsrep_cluster_size"|timechart span=15m avg(value) as ClusterSize</query>
          <earliest>-15m</earliest>
          <latest>now</latest>
          <sampleRatio>1</sampleRatio>
          <refresh>10m</refresh>
          <refreshType>delay</refreshType>
        </search>
        <option name="colorBy">value</option>
        <option name="colorMode">none</option>
        <option name="drilldown">none</option>
        <option name="numberPrecision">0</option>
        <option name="rangeColors">["0x65a637","0x6db7c6","0xf7bc38","0xf58f39","0xd93f3c"]</option>
        <option name="rangeValues">[0,30,70,100]</option>
        <option name="showSparkline">1</option>
        <option name="showTrendIndicator">1</option>
        <option name="trendColorInterpretation">standard</option>
        <option name="trendDisplayMode">absolute</option>
        <option name="unitPosition">after</option>
        <option name="useColors">0</option>
        <option name="useThousandSeparators">1</option>
      </single>
    </panel>
    <panel>
      <title>MySQL Threads Running vs Threads Connected</title>
      <chart>
        <search ref="mysql threads connected / running"></search>
        <option name="height">137</option>
      </chart>
    </panel>
  </row>
  <row>
    <panel>
      <title>Redis instances used memory(MB)</title>
      <chart>
        <title>Redis: used memory by node</title>
        <search ref="Redis: used memory by node"></search>
        <option name="charting.chart">line</option>
        <option name="height">194</option>
      </chart>
    </panel>
    <panel>
      <title>Redis max memory available (MB)</title>
      <chart>
        <title>Redis: max memory by instance</title>
        <search ref="Redis: max memory by instance"></search>
        <option name="height">190</option>
      </chart>
    </panel>
    <panel>
      <title>Redis dedicated vm plan</title>
      <single>
        <title>Redis: available vm in dedicated_vm_plan</title>
        <search ref="Redis: available vm in dedicated_vm_plan"></search>
      </single>
    </panel>
    <panel>
      <title>Redis shared vm plan</title>
      <single>
        <title>Redis: available vm in shared_vm_plan</title>
        <search ref="Redis: available vm in shared_vm_plan"></search>
      </single>
    </panel>
  </row>
  <row>
    <panel ref="cell_capacity_available_memory_by_cell" app="Splunk_SA_CloudFoundry"></panel>
    <panel ref="cell_capacity_available_disk_by_cell" app="Splunk_SA_CloudFoundry"></panel>
    <panel ref="cell_disk_health" app="Splunk_SA_CloudFoundry"></panel>
    <panel ref="cell_memory_health" app="Splunk_SA_CloudFoundry"></panel>
  </row>
  <row>
    <panel ref="router_latency_by_cell" app="Splunk_SA_CloudFoundry"></panel>
    <panel ref="router_bad_gateways" app="Splunk_SA_CloudFoundry"></panel>
    <panel ref="bbs_lrp_convergence_duration" app="Splunk_SA_CloudFoundry"></panel>
  </row>
  <row>
    <panel ref="bbs_lrps_running" app="Splunk_SA_CloudFoundry"></panel>
    <panel ref="bbs_lrps_missing" app="Splunk_SA_CloudFoundry"></panel>
  </row>
  <row>
    <panel ref="bbs_lrps_desired_delta" app="Splunk_SA_CloudFoundry"></panel>
    <panel ref="bbs_lrps_running_delta" app="Splunk_SA_CloudFoundry"></panel>
  </row>
</dashboard>
